<div class="contact-buttons">
    <a href="https://www.linkedin.com/in/ryan-royals-17785b148/" target="_blank" rel="noopener noreferrer" class="contact-button" title="LinkedIn">
        <i icon-name="linkedin"></i>
    </a>
    <a href="mailto:me@ryanroyals.cloud" class="contact-button" title="Email">
        <i icon-name="mail"></i>
    </a>
    <a href="https://github.com/ryan-royals/" target="_blank" rel="noopener noreferrer" class="contact-button" title="GitHub">
        <i icon-name="github"></i>
    </a>
</div>
